html {
    font-size: 100px;
}

.detail_post {
    padding: 20px 20px;
    margin: 80px auto;
    width: 1000px;
    background: #fff;
    box-sizing: border-box;
}

.article__title {
    text-align: center;
    padding-top: 0.3rem;
}

.title {
    font-size: 0.3rem;
    color: #2A2935;
    text-align: center;
    margin-bottom: 0.3rem;
}

.article__title .info {
    margin-top: 0.12rem;
    font-size: 0.12rem;
    color: #999999;
}

.article__title:after {
    content: '';
    display: block;
    border-bottom: 1px solid #999999;
    -webkit-transform: scale(1, 0.5);
    transform: scale(1, 0.5);
    margin-top: 0.3rem;
}

.detail_post .article__content {
    color: #444;
    font-size: 0.12rem;
    line-height: 2em;
    padding: 0.3rem 0;
    max-width: 100%;
    /* background: #fefefe; */
    border-bottom: 1px dashed #DDD;
    word-break: normal;
}

.detail_post p {
    color: #555;
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 10px;
}

@media screen and (max-width: 1000px) {
    .detail_post {
        padding: 0.08rem 0.12rem;
        margin: 56px 0;
        width: 100%;
        box-sizing: border-box;
    }
}

.h1, .h2, .h3, h1, h2, h3 {
    margin-top: 0.2rem;
    margin-bottom: 0.1rem;
}

h1, .h1 {
    font-size: 0.3rem;
}

.h2, h2 {
    font-size: 0.26rem;
}

h3, .h3 {
    font-size: 0.22rem;
}

h4, .h4 {
    font-size: 0.18rem;
}
h5, .h5 {
    font-size: 0.14rem;
}
h6, .h6 {
    font-size: 0.12rem;
}
img {
    max-width: 100%;
    height: auto;
}

.detail_post ul li {
    list-style: disc;
}

.detail_post ol li {
    list-style: decimal;
}

ol, ul {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 16px;
    padding-left: 20px;
}
table {
    font-size: 0.16rem;
}

.detail_post {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    line-height: 1.8;
}

.hljs {
    display: block;
    overflow-x: auto;
    padding: 0.5em;
    background: #23241f;
}

pre {
    display: block;
    background-color: #282c34;
    color: #fff;
    padding: 20px 24px;
    text-align: left;
    font-family: Consolas,Monaco,Andale Mono,Ubuntu Mono,monospace;
    border: 1px solid transparent;
    line-height: 1.4;
    transition: all 0.3s;
    font-size: 14px;
    border-radius: 5px;
    overflow-x: auto;
    margin: 0.13rem 0;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
}

pre code {
    font-size: inherit;
    color: #fff;
    padding: 0;
}

.line-number, code, kbd {
    font-family: source-code-pro,Menlo,Monaco,Consolas,Courier New,monospace;
    line-height: 1.4;
}

code {
    color: #c7254e;
    padding: 4px 8px;
    font-size: 90%;
    background-color: #f9f2f4;
    border-radius: 3px;
}

pre code {
    background-color: transparent !important;
}

.hljs,
.hljs-tag,
.hljs-subst {
    color: #f8f8f2;
}

.hljs-strong,
.hljs-emphasis {
    color: #a8a8a2;
}

.hljs-bullet,
.hljs-quote,
.hljs-number,
.hljs-regexp,
.hljs-literal,
.hljs-link {
    color: #ae81ff;
}

.hljs-code,
.hljs-title,
.hljs-section,
.hljs-selector-class {
    color: #a6e22e;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-name,
.hljs-attr {
    color: #f92672;
}

.hljs-symbol,
.hljs-attribute {
    color: #66d9ef;
}

.hljs-params,
.hljs-class .hljs-title {
    color: #f8f8f2;
}

.hljs-string,
.hljs-type,
.hljs-built_in,
.hljs-builtin-name,
.hljs-selector-id,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-addition,
.hljs-variable,
.hljs-template-variable {
    color: #7ec699;
}

.hljs-comment,
.hljs-deletion,
.hljs-meta {
    color: #999;
}

.token.block-comment, .token.cdata, .token.comment, .token.doctype, .token.prolog {
    color: #999
}

.token.punctuation {
    color: #ccc
}

.token.attr-name, .token.deleted, .token.namespace, .token.tag {
    color: #e2777a
}

.token.function-name {
    color: #6196cc
}

.token.boolean, .token.function, .token.number {
    color: #f08d49
}

.token.class-name, .token.constant, .token.property, .token.symbol {
    color: #f8c555
}

.token.atrule, .token.builtin, .token.important, .token.keyword, .token.selector {
    color: #cc99cd
}

.token.attr-value, .token.char, .token.regex, .token.string, .token.variable {
    color: #7ec699
}

.token.entity, .token.operator, .token.url {
    color: #67cdcc
}

.token.bold, .token.important {
    font-weight: 700
}

.token.italic {
    font-style: italic
}

.token.entity {
    cursor: help
}

.token.inserted {
    color: green
}

@media (max-width: 650px) {
    pre {
        padding: 10px 15px;
        font-size: 14px;
    }

    .detail_post p {
        font-size: 15px;
        margin: 15px 0;
    }
    ol, ul {
        font-size: 15px;
    }
    html {
        font-size: 80px;
    }
}