<div class="aw-footer-wrap">
    <div class="aw-footer">
        <p class="footer-text-copyright">Copyright © 2019<span class="hidden-xs"> - 京ICP备16066763号-2, All Rights Reserved</span></p>
        <p>CDN 存储服务由
            <a href="https://www.upyun.com/?utm_source=lianmeng&utm_medium=referral" target="_blank">
                <img class="footer-youpai-logo" src="https://static-cdn.ticwear.com/barley/606c41b0-10a0-11e9-afeb-394d7328649f" alt="">
            </a> 提供</p>
    </div>
</div>
