<section class="header">
    <div class="header-container">
        <div class="logo">
            <a href="/">Space Blog</a>
        </div>
        <button class="nav-bar-btn"></button>
        <nav>
            <ul>
            </ul>
        </nav>
        <div class="clearfix"></div>
    </div>
</section>