<div class="double-mouth" style="">
    <div class="title-area"><span class="title-text">热门推荐</span></div>
    <ul class="double-mouth-list">
        <li class="double-mouth-item">
            <a href="/post/debounce">
                JavaScript 函数节流和函数去抖
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/placeholder">
                J如何修改placeholder样式
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/cross">
                针对ajax跨域问题，nodejs解决方案
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/highlightjs">
                代码高亮工具highlightjs和prismjs
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/karma">
                Nodejs+karma+WebStorm 进行js单元测试
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/handsontable">
                Handsontable 类似 excel 表格编辑器
            </a>
        </li>
    </ul>
</div>

<div class="double-mouth" id="miniProgram">
    <img class="mini-gram-img" src="https://cdn.webfem.com/webfem/5cd7e990-7578-11e9-95ed-03efd6c9442c" alt="">
    <div class="text-tips">扫码体验小程序版</div>
</div>


