<div class="double-mouth" style="">
    <div class="title-area"><span class="title-text">热门推荐</span></div>
    <ul class="double-mouth-list">
        <li class="double-mouth-item">
            <a href="/post/debounce">
                JavaScript 函数节流和函数去抖
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/placeholder">
                J如何修改placeholder样式
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/cross">
                针对ajax跨域问题，nodejs解决方案
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/highlightjs">
                代码高亮工具highlightjs和prismjs
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/karma">
                Nodejs+karma+WebStorm 进行js单元测试
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/nodejs-email">
                Nodejs 发送邮件
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/handsontable">
                Handsontable 类似 excel 表格编辑器
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/box-shadow">
                CSS3 box-shadow
            </a>
        </li>
        <li class="double-mouth-item">
            <a href="/post/mocha-test">
                mocha + chai + supertest 测试 node server
            </a>
        </li>
    </ul>
</div>

<div class="double-mouth" id="miniProgram">
    <img class="mini-gram-img" src="https://static-cdn.ticwear.com/barley/35373b90-e2aa-11e8-a65f-c5ca81acae37" alt="">
    <div class="text-tips">扫码体验小程序版</div>
</div>


